.checked {
    font-family: "FontAwesome";
}

.chan {
    color: greenyellow;
}

i {
    cursor: pointer;
}

.top_seller {
    background-color: #dbcc8f !important;
}

.product_slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}
