html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.checked {
    font-family: "FontAwesome";
}


i {
    cursor: pointer;
}

.top_seller {
    background-color: #dbcc8f !important;
}

.product_slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}

.card-pd{
    height: 450px;
}

.card-pd-home {
    height: 520px;
}

.bt-10{
    bottom: 25px;
}

.name-pd {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    color: black;
    text-decoration: none;
    background-color: transparent;
}
    .name-pd:hover {
        color: burlywood;
        text-decoration: none;
    }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
/*a {
    
}

    a:hover {
       
    }*/
.zoom {
    height: auto;
    overflow: hidden;
}

    .zoom img {
        transition: transform 0.5s ease;
    }

    .zoom:hover img {
        transform: scale(1.2);
    }

/*.dmsp:hover i{
    color: burlywood !important;
}*/
.dmsp:hover a,.dmsp:hover i {
    color: burlywood !important;
}


.button-quantity {
    background: none;
    border: none;
    outline: inherit;
    height: 40px;
    width: 40px;
}

.button {
    background: burlywood;
    border-radius: 13px;
    text-decoration: none;
    opacity:0.6;
}
    .button:hover {
        opacity: 1;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


tr {
    line-height: 65px;
}


/*login*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100vh - 140px);
    /*margin-top:auto ;*/
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}