html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.checked {
    font-family: "FontAwesome";
}


i {
    cursor: pointer;
}

.top_seller {
    background-color: #dbcc8f !important;
}

.product_slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}

.card-pd{
    height: 370px;
}

.card-pd-home {
    height: 415px;
}

.bt-10{
    bottom: 10px;
}

.name-pd {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        color: burlywood;
        text-decoration: none;
    }
.zoom {
    height: auto;
    overflow: hidden;
}

    .zoom img {
        transition: transform 0.5s ease;
    }

    .zoom:hover img {
        transform: scale(1.2);
    }

/*.dmsp:hover i{
    color: burlywood !important;
}*/
.dmsp:hover a,.dmsp:hover i {
    color: burlywood !important;
}


.button {
    background: none;
    border: none;
    outline: inherit;
    height: 40px;
    width: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


tr {
    line-height: 65px;
}