@using ShareView.DTO
@model List<SanPhamDTO>
@{
    ViewData["Title"] = "Home Page";
}
<div id="carouselExampleSlidesOnly"
     class="carousel slide"
     data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://localhost:7123/wwwroot/images_bg/Nen_1.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="https://localhost:7123/wwwroot/images_bg/Nen_2.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="https://localhost:7123/wwwroot/images_bg/Nen_3.png" class="d-block w-100" alt="..." />
        </div>
    </div>
</div>

<section class="product bg-light pt-5">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4 fs-1 fw-bold">Sản phẩm mới về</h2>
                <p class="text-secondary">Cập nhật những máy mới nhất trong năm.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col card-pd-home ">
                    <div class="card h-100 position-relative">
                        <div class="zoom">
                            <img src="https://localhost:7123/wwwroot/@item.HinhAnh" class="card-img-top" alt="..." />
                        </div>
                        <div class="card-body">
                            <p class="card-title name-pd fs-6 fw-bold" asp-route-id="@item.SanPhamId">@item.TenSP</p>
                        </div>
                        <div class=" bt-10 position-absolute w-100">
                            <div class="card-text mb-3 d-flex justify-content-between">
                                <span class="ms-3 fs-5 fw-bold">Giá</span>
                                <p class=" me-3 card-text fs-5">
                                    @item.DonGia.ToString("#,##0 VNĐ")
                                </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="ms-3 fs-5 fw-bold">Đánh giá</div>
                                <div class="me-3">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= item.DanhGia)
                                        {
                                            <i class="fa-regular fa-star checked"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-star"></i>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex align-items-center justify-content-center mt-5 pb-5">
            <a class="fs-5 fw-bold text-muted" href="/sanpham">Xem thêm</a>
        </div>
    </div>
</section>
