@using ShareView.DTO
@model RegisterRequestModel
@*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName" class="text-danger"></span>

    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    <input type="submit" title="Login" />
    <br />
    @Html.ValidationSummary()
</form>